@{
  Layout = "_Layout";
}


<!DOCTYPE html>
<html>

<head>
  Welcome Pierre!
</head>

<body>

  <div class="container mt-5">
    <h1 class="text-center">Welcome to your Bakery Vendor Tracker, Pierre!</h1>
    <p class="text-center mt-3">Click below to see all of your vendors.</p>
    <div class="text-center">
      <a href="/vendors" class="btn btn-primary">See All Vendors</a>

    </div>
  </div>
</body>

</html>
