@{
  Layout = "_Layout";
}


<!DOCTYPE html>
<html>

<head>
  <title>Welcome Pierre!</title>
</head>

<body class="container">

  <div>
    <h1>Welcome to your Bakery Vendor Tracker, Pierre!</h1>
    <p>Click below to see all of your vendors.</p>
    <div>
      <a href="/vendors" class="button">See All Vendors</a>

    </div>
  </div>
</body>

</html>
