@model List<PierresMarket.Models.Vendor>

@{
  Layout = "_Layout";
  ViewData["Title"] = "All Vendors and Their Orders";
}

<body>
  <div class="border">
    <h1>All Vendors and Their Orders</h1>
    <img src="~/images/heart_div.png">

    <div class="miniBorder">
      @foreach (var vendor in Model)
      {
        <h2>@vendor.Name</h2>
        <h3>Orders:</h3>
        <ul>
          @foreach (var order in vendor.Orders)
          {
            <li>@order.Title</li>
          }
        </ul>
      }
    </div>

    <a class="hypButton" href="/vendors">Back to All Vendors</a>
    <br>

    <a href="/" class="hypButton">Home</a>
  </div>

</body>