@{
  Layout = "_Layout";
}

<body>
  <div class="border">
  <h1>Add a New Vendor</h1>
  <img src="~/images/heart_div.png">
  <form class="formMiniBorder" action="/vendors/create" method="post">
    <label for="name">Vendor Name:</label>
    <input type="text" name="name" required />
  

    <br />

    <label for="description">Vendor Description:</label>
    <textarea name="description" required></textarea>

    <input class="hypButton" type="submit" value="Add Vendor" />
  </form>

  <a href="/vendors">Back to All Vendors</a>
  </div>
</body>
