@{
  ViewData["Title"] = "Vendors List";
}
@model PierresMarket.Models.VendorViewModel



<h1>All Vendors</h1>
<ul>
  @foreach (var vendor in Model.Vendors)
  {
    <li>
      <a href="/vendors/details/@vendor.Id">@vendor.Name</a>
      - <a href="/vendors/@vendor.Id/orders/new">Add a New Order for @vendor.Name</a>
    </li>
  }
</ul>

<a href="/">Home</a>
<br>

<a href="/vendors/create">Add a New Vendor</a>
<br>

<a href="/vendors/allorders">See All Vendors and Their Orders</a>
<br>

@if (Model.CurrentVendor != null)
{
  <a href="/vendors/@Model.CurrentVendor.Id/orders/new">Create a New Order</a>
}
